.main-ul>li:hover {
    background-color: #bdc3c7;
}

.form-control {
    margin-top: 8px;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.swiper {
    margin-top: 20px;
    width: 1200px;
    height: 360px;
    background-color: red;
}

.search {
    display: none;
    margin-top: 0px;
    /* position: relative; */
    line-height: 50px;
    /* left: 50px; */
}

.selling {
    width: 1200px;
    height: 450px;
    /* background-color: yellow; */
    position: relative;
}

.li-img {
    margin: 0 18px;
    width: 170px;
    float: left;
    padding-top: 25px;
    /* margin-right: 1px; */
}

.li-img>img {
    border: none;
    outline: none;
}

.li-img1 {
    margin-left: 0px;
}

.li-img6 {
    margin-right: 0px;
}

.li-img-ctx {
    width: 170px;
    height: 256px;
}

.li-img-name {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btnn {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    height: 37px;
    line-height: 37px;
    font-size: 16px;
    margin: 0 auto;
    background-color: #3498db;
    border-radius: 50px;
    cursor: pointer;
}
.btnn:hover{
    color: white;
    border: 1px solid #ecf0f1;
}
.bottom-btn-div{
    /* background-color: red; */
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 5px;
    text-align: center;;
}

.bottom-btn{
    width:130px;
    height: 30px;
    
    border: none;
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    display: block;
    margin: 0 auto;
    outline: none;
    background-color: #ecf0f1;
    border-radius: 6px;
}

.bottom-btn:hover {
    border: 1px solid #3498db;
}