.main-ul>li:hover {
    background-color: #bdc3c7;
}

.form-control {
    margin-top: 8px;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.swiper {
    margin-top: 20px;
    width: 1200px;
    height: 360px;
    background-color: red;
}

.search {
    display: none;
    margin-top: 0px;
    /* position: relative; */
    line-height: 50px;
    /* left: 50px; */
}

.selling {
    width: 1200px;
    height: 400px;
    /* background-color: yellow; */
}

.li-img {
    margin: 0 18px;
    width: 170px;
    float: left;
    padding-top: 25px;
    /* margin-right: 1px; */
}

.li-img>img {
    border: none;
    outline: none;
}

.li-img1 {
    margin-left: 0px;
}

.li-img6 {
    margin-right: 0px;
}

.li-img-ctx {
    width: 170px;
    height: 256px;
}

.li-img-name {
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
}

.li-img-btn {
    display: block;
    text-align: center;
    width: 70%;
    height: 37px;
    line-height: 37px;
    font-size: 18px;
    margin: 0 auto;
    background-color: #3498db;
    border-radius: 50px;
    cursor: pointer;
}