* {
    margin: 0;
    padding: 0;
}

.main-ul>li:hover {
    background-color: #bdc3c7;
}

.form-control {
    margin-top: 8px;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.icon-left {
    margin-top: 30px;
    display: inline-block;
}

.icon-right {
    margin-top: 30px;
    display: inline-block;
    transform: rotate(180deg);
}

.swiper {
    margin-top: 20px;
    width: 1200px;
    height: 360px;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
}

.swiper-btn-left {
    position: relative;
    left: 3px;
    width: 50px;
    height: 100px;
    top: 130px;
    text-align: center;
    opacity: 0.7;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
}

.swiper-btn-right {
    position: absolute;
    right: 3px;
    width: 50px;
    height: 100px;
    top: 130px;
    text-align: center;
    opacity: 0.7;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
    /* background-color: blue; */
}

.swiper-btn-left:hover,
.swiper-btn-right:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.swiper-mian-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 8400px;
    height: 360px;
    /* display: inline-block; */
    font-size: 0;
    transform: translateX(-1200px);
}

.swiper-img {
    width: 1200px;
    height: 360px;
    display: inline-block;
    outline: none;
    border: none;
}

.swiper-point {
    width: 1200px;
    height: 15px;
    /* background-color: red; */
    text-align: center;
}

.swiper-point-span {
    height: 0px;
    width: 0px;
    display: inline-block;
    border: 4px solid gray;
    border-radius: 4px;
    margin: 0 5px;
}

.swiper-point-hover {
    width: 15px;
    background-color: #3498db;
    border-color: #3498db;
}

.search {
    display: none;
    margin-top: 0px;
    /* position: relative; */
    line-height: 50px;
    /* left: 50px; */
}

.selling {
    width: 1200px;
    height: 450px;
    /* background-color: yellow; */
    position: relative;
    border-top: 1px solid #bdc3c7;
}

.sell {
    height: 810px;
}

.shangying_div {
    position: relative;
    width: 2400px;
    height: 363px;
    /* overflow: hidden; */
    transition: all 0.5s;
}

.shangying-div-main {
    width: 1200px;
    height: 363px;
    overflow: hidden;
}

.li-img {
    margin: 0 18px;
    width: 170px;
    float: left;
    padding-top: 25px;
    /* margin-right: 1px; */
}

.li-img>img {
    border: none;
    outline: none;
}

.li-img1 {
    margin-left: 0px;
}

.li-img6 {
    margin-right: 0px;
}

.li-img-ctx {
    width: 170px;
    height: 256px;
}

.li-img-name {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btnn {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    height: 37px;
    line-height: 37px;
    font-size: 16px;
    margin: 0 auto;
    background-color: #3498db;
    border-radius: 50px;
    cursor: pointer;
}

.btnn:hover {
    color: white;
    border: 1px solid #ecf0f1;
}

.bottom-btn-div {
    /* background-color: red; */
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 5px;
    text-align: center;
    ;
}

.bottom-btn {
    width: 130px;
    height: 30px;
    border: none;
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    display: block;
    margin: 0 auto;
    outline: none;
    background-color: #ecf0f1;
    border-radius: 6px;
}

.bottom-btn:hover {
    border: 1px solid #3498db;
}

.div-hover {
    position: relative;
}

.div-hover:hover .a-item {
    display: block;
}

.a-item {
    padding: 15px;
    width: 170px;
    height: 256px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.85;
    display: none;
}

.a-item-div {
    height: 160px;
}

.a-item-div>p {
    font-family: '微软雅黑';
    font-size: 14px;
    color: #95a5a6;
}

.a-item>p {
    margin-left: 15px;
    font-size: 16px;
    color: white;
    position: relative;
}

.a-item>p i {
    width: 16px;
    height: 16px;
    background-image: url('../../static/yinhao.png');
    position: absolute;
    top: -5px;
    left: -20px;
}

.div-title,
.title-count {
    display: inline-block;
}

.title-count {
    font-size: 40px;
    color: blue;
    font-family: '微软雅黑';
}

.shangying-left {
    position: absolute;
    top: 100px;
    left: -40px;
    width: 40px;
    height: 80px;
    text-align: center;
    opacity: 0.7;
    z-index: 1000;
}

.shangying-right {
    position: absolute;
    right: -40px;
    top: 100px;
    width: 40px;
    height: 80px;
    text-align: center;
    opacity: 0.7;
    z-index: 1000;
}

.shangying-left:hover,
.shangying-right:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.shangyingIcon-left,
.shangyingIcon-right {
    margin-top: 25px;
    display: inline-block;
}

.shangyingIcon-right {
    transform: rotate(180deg);
}